@font-face{
    font-family:Inter;
    src: url(../font/Inter.ttf);



}

:root{
    --background:#121212;
    --game-button:#0074e4;
}
*{
    margin: 0;
    padding:0;
    user-select:none;
}
body,html{
    height:100%;
    background:var(--background);
    transition:1s;
}
p {
    font-family: Inter;
    
}
input{
    outline:none;
    border:none;
}
img {
    width: 100%;
    pointer-events: none;
}


