.card {
    width: 10vw;
    min-width: 10vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
@media (min-width:1200px){

    .card {
        width: 14vw;
        min-width: 14vw;
        margin-left: 1.25vw;
     }  

}

@media (min-width:1600px) {

    .card {
        width: 10vw;
        min-width: 10vw;
        margin-left: 3vw;
    }
}


     .card:first-child{
         margin-left:0;
     }

.card .image {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

        .card .image img {
            width: 100%;
            height:100%;
        }

        .card .image:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: 0.2s;
        }

        .card .image:hover:after {
            background: #ffffff19;
        }

    .card .title {
        color: #f5f5f5;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .card .tag {
        color: #7b7b7b;
        font-weight: bold;
        font-size: 10px;
        margin-top: 6px;
        margin-bottom: 3px;
    }

.price-area {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

    .price-area .percent {
        margin: auto;
        margin-left:0;
        background: #0074e4;
        border-radius: 4px;
        color: #f5f5f5;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 12px;
    }

    .price-area .price-change {
        margin: auto;
        margin-right:0;
        font-size: 14px;
    }

        .price-area .price-change .initial-price {
            text-decoration-line: line-through;
            color: #7b7b7b;
        }

        .price-area .price-change .new-price {
            color: #f5f5f5;
        }


