<div class="slider-card  @(Slide.IsActive ? "active" : "")"
                               @onmouseover="Enable"
                               @onmouseout="Disable"
                               @onclick="ChoiceSlide">

    <div class="slider-item icon">
        <img src="@Slide.Image">
    </div>
    <div class="slider-item title">
        <p>@Slide.Title</p>
    </div>

</div>

@code {





    [Parameter]
    public SliderModel Slide { get; set; }

    [Parameter]
    public Slider SlideComponent { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback OnOpen { get; set; }

    [Parameter]
    public EventCallback<SliderModel> OnShow { get; set; }


    private void Enable()
    {
        Slide.IsHover = true;
    }
    private async void Disable()
    {
        Slide.IsHover = false;
        if (Slide.IsActive && SlideComponent.SlideHover)
        {
            await OnNext.InvokeAsync();
        }
    }

    private async void ChoiceSlide()
    {
        if (Slide.IsActive)
        {
            await OnOpen.InvokeAsync();
        }
        else
        {

            await OnShow.InvokeAsync(Slide);
        }
    }

}
