.slider-poster {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

    .slider-poster:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(101deg, #00000085, transparent 70%);
        pointer-events: none;
    }

    .slider-poster img {
        width: 100%;
        min-width: 100%;
        pointer-events: none;
    }


    .slider-poster p {
        color: #fff;
    }
