<div class="slider-poster">
    <img src="https://cdn2.unrealengine.com/egs-ac-mirage-master-assassin-carousel-desktop-1920x1080-f59246bac188.jpg?h=720&quality=medium&resize=1&w=1280" />
</div>

@code {
    [Parameter]
    public SliderModel? Slide  { get; set; }

}
