<div class="slider-area">
    <SliderPoster></SliderPoster>
    <div class="cards">
        <SliderCard></SliderCard>
        <SliderCard></SliderCard>
        <SliderCard></SliderCard>
        <SliderCard></SliderCard>
        <SliderCard></SliderCard>
        <SliderCard></SliderCard>


    </div>
</div>

@code {

}
