<div class="slider-card">
    <div class="icon">
        <img src="https://cdn2.unrealengine.com/egs-alan-wake-2-carousel-thumb-1200x1600-c64beec29b55.jpg?h=128&amp;quality=medium&amp;resize=1&amp;w=96" alt="Play Alan Wake 2 on Epic Games Store">
    </div>
    <div class="title">
        <p>Alan Wake 2</p>
    </div>

</div>

@code {

}
