<div class="header-search">
    <div class="inner-element search-bar element">
        <div class="icon">
            <img src="icon/headerSearch/searchico.svg" class="element" />
        </div>
        <input placeholder="Search store" style="font-size:14px; " class="element" />
    </div>
    <div class="inner-element topics element">
        <div class="header-search-btn element">
            <p>Discover</p>
        </div>
        <div class="header-search-btn element">
            <p>Browse</p>
        </div>
        <div class="header-search-btn element">
            <p>News</p>
        </div>
    </div>
</div>

@code {

}