@inject IStringLocalizer<HeaderSearch> localizer
<div class="header-search">
    <div class="inner-element search-bar element">
        <div class="icon">
            <img src="icon/headerSearch/searchico.svg" class="element" />
        </div>
        <input placeholder="@localizer["Search store"]" style="font-size:14px; " class="element" />
    </div>
    <div class="inner-element topics element">
        <div class="header-search-btn element">
            <p>  @localizer["Discover"]</p>
        </div>
        <div class="header-search-btn element">
            <p> @localizer["Browse"]</p>
        </div>
        <div class="header-search-btn element">
            <p>@localizer["News"]</p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public CultureInfo CurrentCulture { get; set; }
    protected override void OnParametersSet()
    {
        CultureInfo.CurrentCulture = CurrentCulture;
        CultureInfo.CurrentUICulture = CurrentCulture;
    }
}