@inherits LayoutComponentBase

<PageTitle>TopGames</PageTitle>

<div class="page">
    <header>
        <div class="header-item logo">
            <img  class="top-games" src="icon/header/logo.png" />

            <svg width="22" height="22" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path class="arrow"  fill-rule="evenodd" d="M15.53 7.47a.75.75 0 0 0-1.06 0L10 11.94 5.53 7.47a.75.75 0 0 0-1.06 1.06L10 14.06l5.53-5.53a.75.75 0 0 0 0-1.06Z" clip-rule="evenodd"></path>
            </svg>
        </div>

        <div class="header-item pipe"></div>

        <div class="header-item main-links">
            <div class="logo-store">
                <img src="https://media.graphassets.com/qAiDvosPSFGqJxTVuY7h" />
            </div>
            <div class="main-link-btn">
                <p>Distribution</p>
            </div>
            <div class="main-link-btn">
                <p>Support</p>
            </div>
            <div class="main-link-btn">
                <p>Unreal Engine</p>
            </div>
        </div>

        <div class="header-item profile">
            <div class="header-icon-btn">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path class="globe" fill="#aaaaae" fill-rule="evenodd" d="M3.784 11.25h3.99c.153-2.35.994-4.44 1.815-5.969.282-.525.564-.988.82-1.378a8.255 8.255 0 0 0-6.625 7.347ZM12 4.232c-.305.43-.697 1.03-1.09 1.759-.75 1.398-1.481 3.237-1.632 5.259h5.444c-.15-2.022-.882-3.861-1.633-5.259-.392-.73-.784-1.33-1.089-1.76Zm2.722 8.518H9.278c.15 2.022.882 3.861 1.633 5.259.392.73.784 1.33 1.089 1.76.305-.43.697-1.03 1.09-1.76.75-1.398 1.481-3.237 1.632-5.259Zm-4.313 7.347c-.256-.39-.538-.853-.82-1.378-.82-1.528-1.662-3.618-1.815-5.969h-3.99a8.255 8.255 0 0 0 6.625 7.347Zm3.182 0c.256-.39.538-.853.82-1.378.82-1.528 1.662-3.618 1.815-5.969h3.99a8.255 8.255 0 0 1-6.625 7.347Zm6.625-8.847h-3.99c-.153-2.35-.994-4.44-1.815-5.969a18.45 18.45 0 0 0-.82-1.378 8.255 8.255 0 0 1 6.625 7.347ZM2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="header-icon-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <rect width="32" height="32" fill="#303034" rx="16"></rect>
                    <path class="user" fill="#aaaaae" fill-rule="evenodd" d="M16 9.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM12.25 12a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0Zm.39 6.75a1.25 1.25 0 0 0-1.226 1.005l-.678 3.392a.75.75 0 1 1-1.471-.294l.678-3.392a2.75 2.75 0 0 1 2.697-2.211h6.72a2.75 2.75 0 0 1 2.697 2.21l.679 3.393a.75.75 0 0 1-1.471.294l-.679-3.392a1.25 1.25 0 0 0-1.226-1.005h-6.72Z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="header-btn">
                <p>Download</p>
            </div>

        </div>
    </header>
    <main>
        <HeaderSearch></HeaderSearch>

        @Body
    </main>
</div>
